.kapelx-background-color {
  background-color: #1b262d;
}

.content-wrapper-kapelx {
  background-color: #2c3940;
}

.main-footer-kapelx {
  background-color: #1b262d;
  color: #c4c7c9;
  border-top: 0px;
}

.skin-kapelx .main-header .navbar {
  background-color: #1b262d;
}

.skin-kapelx .main-header .logo {
  background-color: #101b22;
}

.skin-kapelx {
  color: #c4c7c9;
}

.form-kapelx input[type="text"] {
  color: white;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;

  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;

  margin-bottom: 0px;
}

.form-control-kapelx {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.kapelx-btn-search {
  color: #999;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;

  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}

.kapelx-header-title {
  margin: 0;
  font-size: 1.5em;
  color: white;
}

.kapelx-header-content {
  margin-left: 15px;
  margin-right: 15px;
}

.kapelx-header-description {
  font-size: 0.9em;
  color: darkgray;
}

.kapelx-background-overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.kapelx-btn-header-dropdown {
  background-color: transparent !important;
}

.kapelx-nav>li {
  display: inline-block;
}

.kapelx-nav>li>a>p {
  margin: 0;
}

.kapelx-content {
  padding-top: 0;
}
