<div class="box box-default box-solid">
  <div class="box-header">
    Order Form
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-wrench"></i></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="box-body kapelx-background-color">
    <div class="row">
      <div class="col-md-12">
        <p>Order Form here!</p>
      </div>
    </div>
  </div>
</div>